.header {
    display: flex;
    justify-content: space-between;
}
.logo {
    width: 20rem;
    height: 5rem;
}
.header-menu {
    list-style: none;
    display: flex;
    gap: 3rem;
    color: white;
}
.header-menu>li:hover{
    cursor: pointer;
    color: orange;
    cursor: pointer;
}